<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>FitGym</h5>
                <p>Un gimnasio dedicado a tu salud y bienestar.</p>
            </div>
            <div class="col-md-4">
                <h5>Horario</h5>
                <p>Lunes a Viernes: 16:00 AM - 21:00 PM</p>
                <p>Fines de semana: Cerrado</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Teléfono: +123 456 789</p>
                <p>Email: info@gym.com</p>
            </div>
        </div>
    </div>
</footer>
