<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>SuperGym</h5>
                <p>Un gimnasio dedicado a tu salud y bienestar.</p>
            </div>
            <div class="col-md-4">
                <h5>Horario</h5>
                <p>Lunes a Viernes: 7:00 AM - 10:00 PM</p>
                <p>Sábados: 8:00 AM - 2:00 PM</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Teléfono: +34 900 123 456</p>
                <p>Email: contacto@supergym.com</p>
            </div>
        </div>
    </div>
</footer>
