{% extends "base.html" %}

{% block content %}
<div class="home">
    <!-- Mostrar mensajes de éxito solo si estamos en la página de inicio -->
    {% if request.path == '/' %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
        {% endif %}
    {% endif %}

    <h1>Bienvenido a SuperGym 2.0</h1>
    <p class="lead">Entrena de forma inteligente y alcanza tus metas con estilo moderno.</p>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
       
    {% else %}
        <p>Si us plau, inicia sessió per continuar.</p>
    {% endif %}
</div>
{% endblock %}
