{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Registro</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{saludo}}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}
                                </label><br>
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>¿Tienes cuenta? <a href="{% url 'login' %}">Inicia sessión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}