{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <a href="{% url 'admin:create_user' %}" class="btn btn-success mb-3">Añadir Usuario</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_role_display }}</td>
                    <td>
                        <a href="{% url 'admin:update_user' user.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'admin:delete_user' user.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
